---
layout: default
---
{% include menu.html %}
<h2>Lista de desejos</h2>
<p>(ver também <a href="https://store.steampowered.com/wishlist/id/tnaires/">Steam</a>, <a href="https://www.gog.com/en/u/tnaires/wishlist">GOG</a>, <a href="https://psprices.com/wish-list/crkaI59u">PS Prices</a>)</p>
{% include legendas.html online_ja_peguei = false online = true completos = false %}
{% include filtro.html %}
<table id="backlog" class="display compact">
  <thead>
    <th>Jogo</th>
    <th>Plataforma</th>
    <th>Genero</th>
    <th>Lançamento</th>
    <th>Tem platina</th>
    <th>Tem DLC</th>
  </thead>
  <tbody>
    {% for jogo in site.data.lista_de_desejos %}
      <tr
        {% if jogo.tem_trofeus_online == 1 %}
          {% if jogo.servidores_desligados == 1 %}
            class = "vermelho"
          {% else %}
            class = "amarelo"
          {% endif %}
        {% endif %}
        >
        <td>{{ jogo.nome }}</td>
        <td>{{ jogo.plataforma }}</td>
        <td>{{ jogo.genero }}</td>
        <td>{{ jogo.data_lancamento }}</td>
        {% include sim_nao.html valor = jogo.tem_trofeu_platina %}
        {% include sim_nao.html valor = jogo.tem_dlc %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include data_table.html %}