<table>
    <thead>
        Legendas de cores
    </thead>
    {% if include.online %}
        <tr class="verde">
            <td>Jogos com troféus online que já peguei</td>
        </tr>
        <tr class="amarelo">
            <td>Jogos com troféus online que não peguei ainda, mas os servidores ainda tão ligados</td>
        </tr>
        <tr class="vermelho">
            <td>Jogos com troféus online que não peguei ainda e que os servidores já foram desligados</td>
        </tr>
    {% endif %}
    {% if include.completos %}
    <tr class="rosa">
        <td>Jogos que fiz 100% sem platina</td>
    </tr>
    <tr class="roxo">
        <td>Jogos platinados</td>
    </tr>
    <tr class="verde-claro">
        <td>Jogos platinados e com todos os troféus de DLC</td>
    </tr>
    {% endif %}
</table>