<table id="tabelaLegendas">
    <thead>Legendas de cores <a id="toggle" href="#">Exibir</a></thead>
    <tbody id="legendas" style="display: none;">
        {% if include.online_ja_peguei %}
            <tr class="verde">
                <td>Jogos com troféus online que já peguei</td>
            </tr>
        {% endif %}
        {% if include.online %}
            <tr class="amarelo">
                <td>Jogos com troféus online que ainda dá pra pegar</td>
            </tr>
            <tr class="vermelho">
                <td>Jogos com troféus online que não dá mais pra pegar</td>
            </tr>
        {% endif %}
        {% if include.completos %}
            <tr class="rosa">
                <td>Jogos que fiz 100% sem platina</td>
            </tr>
            <tr class="roxo">
                <td>Jogos platinados</td>
            </tr>
            <tr class="verde-claro">
                <td>Jogos platinados e com todos os troféus de DLC</td>
            </tr>
        {% endif %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $("#toggle").click(function() {
            $("#legendas").toggle();
            const toggleText = ($("#legendas").is(":visible") ? "Ocultar" : "Exibir");
            $("#toggle").text(toggleText);
        });
    });
</script>