<section>
  <span>Plataforma</span>
  <span id="filtro1"></span>
  <span>Gênero</span>
  <span id="filtro2"></span>
</section>
<table id="backlog" class="display compact">
  <thead>
    <th>Jogo</th>
    <th>Plataforma</th>
    <th>Genero</th>
    <th>Jogando</th>
  </thead>
  <tbody>
    {% for jogo in include.jogos %}
      <tr>
        <td>{{ jogo.nome }}</td>
        <td>{{ jogo.plataforma }}</td>
        <td>{{ jogo.genero }}</td>
        <td>{{ jogo.jogando }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  new DataTable('#backlog', {
    paging: false,
    layout: {
        topStart: 'search',
        topEnd: 'pageLength',
        bottomStart: 'info',
        bottomEnd: 'paging'
    },
    order: [[1, 'asc'], [0, 'asc']],
    language: {
      url: 'https://cdn.datatables.net/plug-ins/2.3.2/i18n/pt-BR.json',
    },
    initComplete: function () {
        this.api()
            .columns([1, 2])
            .every(function () {
                let column = this;

                // Create select element
                let select = document.createElement('select');
                select.add(new Option(''));
                $("#filtro" + column.index()).append(select);

                // Apply listener for user change in value
                select.addEventListener('change', function () {
                    column
                        .search(select.value, {exact: true})
                        .draw();
                });

                // Add list of options
                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        select.add(new Option(d));
                    });
            });
    },
  });
</script>
