---
---

body {
    font-family: Verdana, Arial, sans-serif;
    margin-left: 2em;
    margin-right: 2em;

    @media (min-width: 1201px) {
        font-size: 1em;
    }

    @media (max-width: 1200px) {
        font-size: 1.5em;
    }

    h1, nav {
        text-align: center;
    }

    td {
        white-space: nowrap;
    }
}

#tabelaLegendas {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.vermelho * {
    background-color: rgb(255 230 230);
}

.verde * {
    background-color: rgb(195 255 195);
}

.amarelo * {
    background-color: rgb(255, 255, 200);
}

.roxo * {
    background-color: rgb(225, 225, 245);
}

.rosa * {
    background-color: rgb(245, 190, 240);
}

.verde-claro * {
    background-color: rgb(145, 245, 225);
}