<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <link href="{{ "/assets/css/main.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/assets/css/datatables.min.css" | relative_url }}" rel="stylesheet">
    <script src="{{ "/assets/js/jquery-3.7.1.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/datatables.min.js" | relative_url }}"></script>
    <title>{{ site.title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
